.calculator {
  display:grid;
  grid-gap: 4px;
  padding: 5px;
  border-radius: 5px;
  max-width: 350px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: darkslateblue;
}

form {
  max-width: 340px;
}
input {
  cursor: default;
  width: 340px;
  height: 60px;
  border-radius: 5px;
  border: none;
  font-size: 30px;
  outline: none;
  text-align: right;
}
.output {
  display: flex;
  grid-column: 1/-1;
  cursor: default;
}

.buttons{
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  display:flex;
  font-size: 22px;
  cursor: pointer;
  background-color: white;
}

#clear {
  grid-column: 1/3;
}
#delete {
  grid-column:3/-1;
}
.zero {
  grid-column: 1/3;
}
#equal {
  grid-column: 4/-1;
  grid-row: 6/8;
}
